src/main/java/org/cvrgrid/gemuse/jaxb/schema/restingecg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Sunghee Flores (Johns Hopkins University) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ACFilter" type="xs:string"/>
	<xs:element name="AcquisitionDate" type="xs:string"/>
	<xs:element name="AcquisitionDevice" type="xs:string"/>
	<xs:element name="AcquisitionSoftwareVersion" type="xs:string"/>
	<xs:element name="AcquisitionTime" type="xs:string"/>
	<xs:element name="AdmitTime" type="xs:string"/>
	<xs:element name="AgeUnits" type="xs:string"/>
	<xs:element name="AnalysisSoftwareVersion" type="xs:string"/>
	<xs:element name="AtrialRate" type="xs:string"/>
	<xs:element name="BaselineSway" type="xs:string"/>
	<xs:element name="CartNumber" type="xs:string"/>
	<xs:element name="DataType" type="xs:string"/>
	<xs:element name="DateofBirth" type="xs:string"/>
	<xs:element name="Diagnosis">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Modality"/>
				<xs:element ref="DiagnosisStatement" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DiagnosisStatement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StmtFlag"/>
				<xs:element ref="StmtText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECGSampleBase" type="xs:string"/>
	<xs:element name="ECGSampleExponent" type="xs:string"/>
	<xs:element name="FirstSampleBaseline" type="xs:string"/>
	<xs:element name="Gender" type="xs:string"/>
	<xs:element name="GlobalRR" type="xs:string"/>
	<xs:element name="HeightIN" type="xs:string"/>
	<xs:element name="HighPassFilter" type="xs:string"/>
	<xs:element name="LeadAmplitudeUnits" type="xs:string"/>
	<xs:element name="LeadAmplitudeUnitsPerBit" type="xs:string"/>
	<xs:element name="LeadByteCountTotal" type="xs:string"/>
	<xs:element name="LeadData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LeadByteCountTotal"/>
				<xs:element ref="LeadTimeOffset"/>
				<xs:element ref="LeadSampleCountTotal"/>
				<xs:element ref="LeadAmplitudeUnitsPerBit"/>
				<xs:element ref="LeadAmplitudeUnits"/>
				<xs:element ref="LeadHighLimit"/>
				<xs:element ref="LeadLowLimit"/>
				<xs:element ref="LeadID"/>
				<xs:element ref="LeadOffsetFirstSample"/>
				<xs:element ref="FirstSampleBaseline"/>
				<xs:element ref="LeadSampleSize"/>
				<xs:element ref="LeadOff"/>
				<xs:element ref="BaselineSway"/>
				<xs:element ref="LeadDataCRC32"/>
				<xs:element ref="WaveFormData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LeadDataCRC32" type="xs:string"/>
	<xs:element name="LeadHighLimit" type="xs:string"/>
	<xs:element name="LeadID" type="xs:string"/>
	<xs:element name="LeadLowLimit" type="xs:string"/>
	<xs:element name="LeadOff" type="xs:string"/>
	<xs:element name="LeadOffsetFirstSample" type="xs:string"/>
	<xs:element name="LeadSampleCountTotal" type="xs:string"/>
	<xs:element name="LeadSampleSize" type="xs:string"/>
	<xs:element name="LeadTimeOffset" type="xs:string"/>
	<xs:element name="Location" type="xs:string"/>
	<xs:element name="LowPassFilter" type="xs:string"/>
	<xs:element name="MeasurementMatrix" type="xs:string"/>
	<xs:element name="Modality" type="xs:string"/>
	<xs:element name="MuseInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MuseVersion"/>
				<xs:element ref="RegisteredName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MuseVersion" type="xs:string"/>
	<xs:element name="Number" type="xs:string"/>
	<xs:element name="NumberofLeads" type="xs:string"/>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AdmitTime"/>
				<xs:element ref="UnconfirmedReceivedTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PAxis" type="xs:string"/>
	<xs:element name="POffset" type="xs:string"/>
	<xs:element name="POnset" type="xs:string"/>
	<xs:element name="PRInterval" type="xs:string"/>
	<xs:element name="PatientAge" type="xs:string"/>
	<xs:element name="PatientDemographics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PatientID"/>
				<xs:element ref="AgeUnits"/>
				<xs:element ref="DateofBirth"/>
				<xs:element ref="Gender"/>
				<xs:element ref="Race"/>
				<xs:element ref="HeightIN"/>
				<xs:element ref="WeightLBS"/>
				<xs:element ref="PatientLastName"/>
				<xs:element ref="PatientFirstName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PatientFirstName" type="xs:string"/>
	<xs:element name="PatientID" type="xs:string"/>
	<xs:element name="PatientLastName" type="xs:string"/>
	<xs:element name="Priority" type="xs:string"/>
	<xs:element name="QOffset" type="xs:string"/>
	<xs:element name="QOnset" type="xs:string"/>
	<xs:element name="QRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Number"/>
				<xs:element ref="Type"/>
				<xs:element ref="Time"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QRSCount" type="xs:string"/>
	<xs:element name="QRSDuration" type="xs:string"/>
	<xs:element name="QRSTimesTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="QRS" maxOccurs="unbounded"/>
				<xs:element ref="GlobalRR"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QTCorrected" type="xs:string"/>
	<xs:element name="QTInterval" type="xs:string"/>
	<xs:element name="RAxis" type="xs:string"/>
	<xs:element name="Race" type="xs:string"/>
	<xs:element name="RegisteredName">
		<xs:complexType/>
	</xs:element>
	<xs:element name="RestingECG">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MuseInfo"/>
				<xs:element ref="PatientDemographics"/>
				<xs:element ref="TestDemographics"/>
				<xs:element ref="Order"/>
				<xs:element ref="RestingECGMeasurements"/>
				<xs:element ref="Diagnosis"/>
				<xs:element ref="MeasurementMatrix"/>
				<xs:element ref="QRSTimesTypes"/>
				<xs:element ref="Waveform" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RestingECGMeasurements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VentricularRate"/>
				<xs:element ref="AtrialRate"/>
				<xs:element ref="PRInterval"/>
				<xs:element ref="QRSDuration"/>
				<xs:element ref="QTInterval"/>
				<xs:element ref="QTCorrected"/>
				<xs:element ref="PAxis"/>
				<xs:element ref="RAxis"/>
				<xs:element ref="TAxis"/>
				<xs:element ref="QRSCount"/>
				<xs:element ref="QOnset"/>
				<xs:element ref="QOffset"/>
				<xs:element ref="POnset"/>
				<xs:element ref="POffset"/>
				<xs:element ref="TOffset"/>
				<xs:element ref="ECGSampleBase"/>
				<xs:element ref="ECGSampleExponent"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SampleBase" type="xs:string"/>
	<xs:element name="SampleExponent" type="xs:string"/>
	<xs:element name="SampleType" type="xs:string"/>
	<xs:element name="Site" type="xs:string"/>
	<xs:element name="SiteName" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="StmtFlag" type="xs:string"/>
	<xs:element name="StmtText" type="xs:string"/>
	<xs:element name="TAxis" type="xs:string"/>
	<xs:element name="TOffset" type="xs:string"/>
	<xs:element name="TestDemographics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataType"/>
				<xs:element ref="Site"/>
				<xs:element ref="SiteName"/>
				<xs:element ref="AcquisitionDevice"/>
				<xs:element ref="Status"/>
				<xs:element ref="Priority"/>
				<xs:element ref="Location"/>
				<xs:element ref="AcquisitionTime"/>
				<xs:element ref="AcquisitionDate"/>
				<xs:element ref="CartNumber"/>
				<xs:element ref="AcquisitionSoftwareVersion"/>
				<xs:element ref="AnalysisSoftwareVersion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Time" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
	<xs:element name="UnconfirmedReceivedTime" type="xs:string"/>
	<xs:element name="VentricularRate" type="xs:string"/>
	<xs:element name="WaveFormData" type="xs:string"/>
	<xs:element name="Waveform">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WaveformType"/>
				<xs:element ref="WaveformStartTime"/>
				<xs:element ref="NumberofLeads"/>
				<xs:element ref="SampleType"/>
				<xs:element ref="SampleBase"/>
				<xs:element ref="SampleExponent"/>
				<xs:element ref="HighPassFilter"/>
				<xs:element ref="LowPassFilter"/>
				<xs:element ref="ACFilter"/>
				<xs:element ref="LeadData" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WaveformStartTime" type="xs:string"/>
	<xs:element name="WaveformType" type="xs:string"/>
	<xs:element name="WeightLBS" type="xs:string"/>
</xs:schema>
